# Composer files
composer.phar
vendor/
nbproject/


# Local configs
config/autoload/*.local.php

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
data/uploads/
data/uploads/profile-images/

temp/
public/htimg/

# Legacy ZF1
demos/
extras/documentation
##README_TODO##

