body {
    padding-top: 80px;
    padding-bottom: 40px;
}


.navbar-right li{
    margin-right: 15px;
    margin-left: 15px;
}

.form-default{
    margin: 20px auto;
    max-width:330px;
    min-width: 110px;
}

/*Custom Button success for "Register"*/
.btn-success {
    background-color: #04B431;
    background-image: -moz-linear-gradient(top, #64FE2E, #04B431);
    background-image: -ms-linear-gradient(top, #64FE2E, #04B431);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#64FE2E), to(#04B431));
    background-image: -webkit-linear-gradient(top, #64FE2E, #04B431);
    background-image: -o-linear-gradient(top, #64FE2E, #04B431);
    background-image: linear-gradient(top, #64FE2E, #04B431);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#64FE2E', endColorstr='#04B431', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background: #04B431;
}

.btn-success:active, .btn-success.active {
    background-color: #04B431;
}
/* --END-- Custom Button success for "Register"*/

/*Custom Button info for "Login"*/
.btn-info {
    border-color: #08088A;
    background-color: #2E64FE;
    background-image: -moz-linear-gradient(top, #2eddfa, #2E64FE);
    background-image: -ms-linear-gradient(top, #2eddfa, #2E64FE);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2eddfa), to(#2E64FE));
    background-image: -webkit-linear-gradient(top, #2eddfa, #2E64FE);
    background-image: -o-linear-gradient(top, #2eddfa, #2E64FE);
    background-image: linear-gradient(top, #2eddfa, #2E64FE);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2eddfa', endColorstr='#2E64FE', GradientType=0);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
    background: #2E64FE;
}

.btn-info:active, .btn-info.active {
    background-color: #2E64FE;
}
/* --END-- Custom Button success for "Login"*/

/*Custom Button delete for "Delete"*/
.btn-delete {
    color: white;
    border-color: #8A0808;
    background-color: #FDBB13;
    background-image: -moz-linear-gradient(top, #FDBB13, #DF0101);
    background-image: -ms-linear-gradient(top, #FDBB13, #DF0101);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FDBB13), to(#DF0101));
    background-image: -webkit-linear-gradient(top, #FDBB13, #DF0101);
    background-image: -o-linear-gradient(top, #FDBB13, #DF0101);
    background-image: linear-gradient(top, #FDBB13, #DF0101);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDBB13', endColorstr='#DF0101', GradientType=0);
}
.btn-delete:hover,
.btn-delete:active,
.btn-delete.active,
.btn-delete.disabled,
.btn-delete[disabled] {
    background: #DF0101;
    border-color: #610B0B;
    color: white;
}

.btn-delete:active, .btn-delete.active {
    background-color: #DF0101;
}
/* --END-- Custom Button delete for "Delete"*/




/*Custom Button logout for "Delete"*/
.btn-logout {
    color: white;
    border-color: darkslategrey;
    background-color: #9D0C0C;
    background-image: -moz-linear-gradient(top, #BDBDBD, #2E2E2E);
    background-image: -ms-linear-gradient(top, #BDBDBD, #2E2E2E);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#BDBDBD), to(#2E2E2E));
    background-image: -webkit-linear-gradient(top, #BDBDBD, #2E2E2E);
    background-image: -o-linear-gradient(top, #BDBDBD, #2E2E2E);
    background-image: linear-gradient(top, #BDBDBD, #2E2E2E);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BDBDBD', endColorstr='#2E2E2E', GradientType=0);
}
.btn-logout:hover,
.btn-logout:active,
.btn-logout.active,
.btn-logout.disabled,
.btn-logout[disabled] {
    background: #BDBDBD;
    border-color:#2E2E2E;
    color: white;
}

.btn-logout:active, .btn-logout.active {
    background-color: #BDBDBD;
}
/* --END-- Custom Button warning for "Delete"*/
.circular {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}

.profileimg {
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.img-list-hide{
    //display:none
}
