body {
    padding-top: 80px;
    padding-bottom: 40px;
}


/*Navbar Customize*/
.navbar-right li{
    margin-right: 15px;
    margin-left: 15px;
}

.navbar li .active{
    color:aqua;    
}
/*--END-- Navbar Customize*/


/*Custom standard form */
.form-default{
    margin: 20px auto;
    max-width:310px;
    min-width: 110px;
}

input.form-default:first-of-type{
    background-color: blue; 
    color:green;
}

.form-default input:hover:not([type="checkbox"]):not([type="submit"]){
    width: 330px;
    /* height: 35px;*/
    color: #444444;
    font-weight: bold;
    -webkit-transition: width 2s ease;
    -moz-transition: width 2s ease;
    -o-transition: width 2s ease;
    -ms-transition: width 2s ease;
    transition: width 2s ease;
}

.checkbox{
    padding-left: 50px;
}

/*--END-- Custom standard form */

/*Custom Button success for "Login"*/
.btn-success {
    background-color: #04B431;
    background-image: -moz-linear-gradient(top, #64FE2E, #04B431);
    background-image: -ms-linear-gradient(top, #64FE2E, #04B431);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#64FE2E), to(#04B431));
    background-image: -webkit-linear-gradient(top, #64FE2E, #04B431);
    background-image: -o-linear-gradient(top, #64FE2E, #04B431);
    background-image: linear-gradient(top, #64FE2E, #04B431);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#64FE2E', endColorstr='#04B431', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background: #04B431;
}

.btn-success:active, .btn-success.active {
    background-color: #04B431;
}
/* --END-- Custom Button success for "Login"*/

/*Custom Button info for "Register"*/
.btn-info {
    border-color: #08088A;
    background-color: #2E64FE;
    background-image: -moz-linear-gradient(top, #2eddfa, #2E64FE);
    background-image: -ms-linear-gradient(top, #2eddfa, #2E64FE);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2eddfa), to(#2E64FE));
    background-image: -webkit-linear-gradient(top, #2eddfa, #2E64FE);
    background-image: -o-linear-gradient(top, #2eddfa, #2E64FE);
    background-image: linear-gradient(top, #2eddfa, #2E64FE);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2eddfa', endColorstr='#2E64FE', GradientType=0);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
    background: #2E64FE;
}

.btn-info:active, .btn-info.active {
    background-color: #2E64FE;
}
/* --END-- Custom Button success for "register"*/

/*Custom Button delete for "Delete"*/
.btn-delete {
    color: white;
    border-color: #8A0808;
    background-color: #FDBB13;
    background-image: -moz-linear-gradient(top, #FDBB13, #DF0101);
    background-image: -ms-linear-gradient(top, #FDBB13, #DF0101);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FDBB13), to(#DF0101));
    background-image: -webkit-linear-gradient(top, #FDBB13, #DF0101);
    background-image: -o-linear-gradient(top, #FDBB13, #DF0101);
    background-image: linear-gradient(top, #FDBB13, #DF0101);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDBB13', endColorstr='#DF0101', GradientType=0);
}
.btn-delete:hover,
.btn-delete:active,
.btn-delete.active,
.btn-delete.disabled,
.btn-delete[disabled] {
    background: #DF0101;
    border-color: #610B0B;
    color: white;
}

.btn-delete:active, .btn-delete.active {
    background-color: #DF0101;
}
/* --END-- Custom Button delete for "Delete"*/




/*Custom Button logout for "Delete"*/
.btn-logout {
    color: white;
    border-color: darkslategrey;
    background-color: #9D0C0C;
    background-image: -moz-linear-gradient(top, #BDBDBD, #2E2E2E);
    background-image: -ms-linear-gradient(top, #BDBDBD, #2E2E2E);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#BDBDBD), to(#2E2E2E));
    background-image: -webkit-linear-gradient(top, #BDBDBD, #2E2E2E);
    background-image: -o-linear-gradient(top, #BDBDBD, #2E2E2E);
    background-image: linear-gradient(top, #BDBDBD, #2E2E2E);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BDBDBD', endColorstr='#2E2E2E', GradientType=0);
}
.btn-logout:hover,
.btn-logout:active,
.btn-logout.active,
.btn-logout.disabled,
.btn-logout[disabled] {
    background: #BDBDBD;
    border-color:#2E2E2E;
    color: white;
}
.btn-logout:active, .btn-logout.active {
    background-color: #BDBDBD;
}
/* --END-- Custom Button warning for "Delete"*/

/*Custom Image styles*/
.profileimg {
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.img-list-hide{
    //display:none
}
/*--END-- Custom image styles*/

/* Animation btn-pulse*/
.btn-pulse { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in; 
    animation-timing-function: ease-in; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
    -webkit-animation-name: pulse; 
    animation-name: pulse; 
} 

@-webkit-keyframes pulse { 
    0% { -webkit-transform: scale(1); } 
    50% { -webkit-transform: scale(1.05); } 
    100% { -webkit-transform: scale(1); } 
} 
@keyframes pulse { 
    0% { transform: scale(1); } 
    50% { transform: scale(1.05); } 
    100% { transform: scale(1); } 
} 
/*--END--Animation btn-pulse*/


/* Animation wiggle for all button on hover*/
.btn:hover { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in; 
    animation-timing-function: ease-in; 
    -webkit-animation-name: wiggle; 
    animation-name: wiggle; 
    -webkit-animation-timing-function: ease-in; 
    animation-timing-function: ease-in; 
} 

@-webkit-keyframes wiggle { 
    0% { -webkit-transform: skewX(9deg); } 
    10% { -webkit-transform: skewX(-8deg); } 
    20% { -webkit-transform: skewX(7deg); } 
    30% { -webkit-transform: skewX(-6deg); } 
    40% { -webkit-transform: skewX(5deg); } 
    50% { -webkit-transform: skewX(-4deg); } 
    60% { -webkit-transform: skewX(3deg); } 
    70% { -webkit-transform: skewX(-2deg); } 
    80% { -webkit-transform: skewX(1deg); } 
    90% { -webkit-transform: skewX(0deg); } 
    100% { -webkit-transform: skewX(0deg); } 
} 
@keyframes wiggle { 
    0% { transform: skewX(9deg); } 
    10% { transform: skewX(-8deg); } 
    20% { transform: skewX(7deg); } 
    30% { transform: skewX(-6deg); } 
    40% { transform: skewX(5deg); } 
    50% { transform: skewX(-4deg); } 
    60% { transform: skewX(3deg); } 
    70% { transform: skewX(-2deg); } 
    80% { transform: skewX(1deg); } 
    90% { transform: skewX(0deg); } 
    100% { transform: skewX(0deg); } 
} 
/* --END-- Animation wiggle for all button on hover*/
