body {
    padding-top: 80px;
    padding-bottom: 40px;
}

.navbar-button button{
    margin-left: 5px;
    margin-right: 5px;
  }


/*Custom Button success for "Register"*/
.btn-success {
    background-color: #04B431;
    background-image: -moz-linear-gradient(top, #64FE2E, #04B431);
    background-image: -ms-linear-gradient(top, #64FE2E, #04B431);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#64FE2E), to(#04B431));
    background-image: -webkit-linear-gradient(top, #64FE2E, #04B431);
    background-image: -o-linear-gradient(top, #64FE2E, #04B431);
    background-image: linear-gradient(top, #64FE2E, #04B431);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#64FE2E', endColorstr='#04B431', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #04B431;
}

.btn-success:active, .btn-success.active {
    background-color: #04B431;
}
/* --END-- Custom Button success for "Register"*/

/*Custom Button info for "Login"*/
.btn-info {
    background-color: #2E64FE;
    background-image: -moz-linear-gradient(top, #2eddfa, #2E64FE);
    background-image: -ms-linear-gradient(top, #2eddfa, #2E64FE);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2eddfa), to(#2E64FE));
    background-image: -webkit-linear-gradient(top, #2eddfa, #2E64FE);
    background-image: -o-linear-gradient(top, #2eddfa, #2E64FE);
    background-image: linear-gradient(top, #2eddfa, #2E64FE);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2eddfa', endColorstr='#2E64FE', GradientType=0);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
    background-color: #2E64FE;
}

.btn-info:active, .btn-info.active {
    background-color: #2E64FE;
}
/* --END-- Custom Button success for "Login"*/